:host {
  border: solid salmon 1px;
  display: flex;
  flex-flow: row;
  width: 100%;
}
@media (min-width: 768px) {
  :host {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  :host {
    width: 33%;
  }
}
@media screen and (min-width: 1440px) {
  :host {
    width: 25%;
  }
}

div {
  min-width: 150px;
}
